body{
    text-align: center;
}

h2{
    font-size: 30px !important;
    font-weight: bold;
}

.btn-success:hover{
    background-color: blueviolet;
}

canvas{
    
    animation-name:colors ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colors{
    from{box-shadow:5px 5px 40px purple ;}
    to{box-shadow:5px 5px 40px rgb(199, 105, 121) ;}
}